<!-- Button trigger modal -->
  
<div class="panel panel-primary">
      <div class="panel-body">

<button type="button" class="btn btn-success float-right m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>
    Add Product
  </button>
  
  <!-- Modal -->
  <div class="modal fade bg-dark" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button #mybutton type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit-product [product]="product" *ngIf="ActivateAddEditProductComp">
            </app-add-edit-product>
            <app-details-product [product]="product" *ngIf="ActivateDetailsProductComp">
            </app-details-product>
            <app-delete-product [product]="product" *ngIf="ActivateDeleteProductComp">
            </app-delete-product>
        </div>
      </div>
    </div>
  </div>



<table class="table table-striped">
    <thead>
        <tr>
          <th (click)="sortResult('ProductId')" style="cursor: pointer;">Id</th>
          <th (click)="sortResult('Name')" style="cursor: pointer;">Name</th>
          <th (click)="sortResult('Category')" style="cursor: pointer;">Category</th>
          <th (click)="sortResult('Phe')" style="cursor: pointer;">Phe (mg/100g)</th>
          <th (click)="sortResult('Calories')" style="cursor: pointer;">Calories (kcal/100g)</th>
          <th (click)="sortResult('Protein')" style="cursor: pointer;">Protein (g/100g)</th>
          <th (click)="sortResult('Fat')" style="cursor: pointer;">Fat (g/100g)</th>
          <th (click)="sortResult('Carb')" style="cursor: pointer;">Carb (g/100g)</th>
          <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of ProductsList">
            <td>{{dataItem.ProductId}}</td>
            <td>{{dataItem.Name}}</td>
            <td>{{dataItem.Category}}</td>
            <td>{{dataItem.Phe/100}}</td>
            <td>{{dataItem.Calories/100}}</td>
            <td>{{dataItem.Protein/100}}</td>
            <td>{{dataItem.Fat/100}}</td>
            <td>{{dataItem.Carb/100}}</td>
            <td>
              <button type="button" class="btn btn-info"
                (click)="detailsClick(dataItem)"
                data-toggle="modal" data-target="#exampleModal"
                data-backdrop="static" data-keyboard="false"
                >Details
                </button>
                <button type="button" class="btn btn-warning"
                (click)="editClick(dataItem)"
                data-toggle="modal" data-target="#exampleModal"
                data-backdrop="static" data-keyboard="false"
                >Edit
                </button>
                <button type="button" class="btn btn-danger"
                (click)="deleteClick(dataItem)"
                data-toggle="modal" data-target="#exampleModal"
                data-backdrop="static" data-keyboard="false"
                >Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>