    <div style="display: flex; justify-content: center;">
      <div class="modal fade bg-dark" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
              <button #mybutton type="button" class="close" 
              data-dismiss="modal" aria-label="Close"
              (click)="closeClick()" >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <app-user-delete-meal [meal]="meal" *ngIf="ActivateDeleteMealComp">
                </app-user-delete-meal>
                <app-user-details-meal [meal]="meal" *ngIf="ActivateDetailsMealComp">
                </app-user-details-meal>
                <app-user-day-alerts [date]="date" [daySummary]="daySummary" [Limits]="Limits" *ngIf="ActivateDayAlertsComp">
                </app-user-day-alerts>
                <app-user-details-med [dayMed]="dayMed" *ngIf="ActivateDayMedComp">
                </app-user-details-med>
            </div>
          </div>
        </div>
      </div>


      <div style="width: 40%;">
        
      <div style="display: flex; justify-content: center; align-items: center;">
      <div style="text-align: center; background-color: #212529; color: #38b0ff; width: 100%" >
        <h1 style="margin-bottom: 0%;"> Plan </h1>
       </div>
      </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <button type="button" (click)="dateClick(-1)" class="btn btn-dark" style="margin: 5px;" [disabled]="date.getTime()<=minDate.getTime()">Prev</button>
        <div *ngIf="isToday" style="background-color: gold; padding: 0.5%;">
            {{date | date:'MM-dd-yyyy'}}
        </div>
        <div div *ngIf="!isToday" style="padding: 0.5%;">
            {{date | date:'MM-dd-yyyy'}}
        </div>
        <button type="button" (click)="dateClick(1)" class="btn btn-dark" style="margin: 5px;" [disabled]="date.getTime()>=maxDate.getTime()">Next</button>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;" *ngIf="currDate.getTime()<=date.getTime()">
        <button type="button" class="btn btn-success float-right m-2" 
        (click)="addMealClick()">
        Add Meal
        </button>
    </div>
    <div *ngIf="currDate.getTime()>date.getTime()">
      <br>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;" *ngIf="showError" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    <div style="display: flex; justify-content: center; align-items: center;" *ngIf="currDate.getTime()<=date.getTime()">
        <table class="table table-striped" style="width: 100%">
            <tbody>
                <tr *ngFor="let dataItem of MealsList">
                    <td style="width:20%"><button type="button" class="btn btn-danger"
                    (click)="deleteClick(dataItem)"
                    data-toggle="modal" data-target="#exampleModal"
                    data-backdrop="static" data-keyboard="false" 
                    >Delete
                    </button>
                    </td>
                    <td style="width:70%; text-align: center; justify-content:center; padding-left: 8%;">{{dataItem.Name}}</td>
                    <div style=" justify-content:right;">
                      <td style="width:5%"><button type="button" class="btn btn-primary"
                      (click)="deatailsClick(dataItem)"
                      data-toggle="modal" data-target="#exampleModal"
                      data-backdrop="static" data-keyboard="false"
                      >Deatails
                      </button>
                      </td>
                      <td style="width:5%"><button type="button" class="btn btn-warning"
                      (click)="editClick(dataItem)"
                      >Edit
                      </button>
                      </td>
                    </div>
                </tr>
            </tbody>
        </table>
        <br>
    </div>

    <div style="display: flex; justify-content: center; align-items: center;" *ngIf="currDate.getTime()>date.getTime()">
      <table class="table table-striped" style="width: 100%">
          <tbody>
              <tr *ngFor="let dataItem of MealsList">
                  <td style="width:20%">
                  </td>
                  <td style="width:70%; text-align: center; justify-content:center; padding-right: 3%;">{{dataItem.Name}}</td>
                  <div style=" justify-content:right;">
                    <td style="width:5%"><button type="button" class="btn btn-primary"
                    (click)="deatailsClick(dataItem)"
                    data-toggle="modal" data-target="#exampleModal"
                    data-backdrop="static" data-keyboard="false"
                    >Deatails
                    </button>
                    </td>
                    <td style="width:5%">
                    </td>
                  </div>
              </tr>
          </tbody>
      </table>
      <br>
  </div>

  <table class="table table-dark table-striped" style="width: 100%">
    <tbody>
      <tr *ngIf="dayMed!=undefined">
        <td style="width:20%">
        </td>
        <td style="width:70%; text-align: center; justify-content:center; padding-right: 3%;">Medicine</td>
        <div style=" justify-content:right;">
          <td style="width:5%"><button type="button" class="btn btn-primary"
          (click)="deatailsMedClick()"
          data-toggle="modal" data-target="#exampleModal"
          data-backdrop="static" data-keyboard="false"
          >Deatails
          </button>
          </td>
          <td style="width:5%">
          </td>
        </div>
      </tr>
    </tbody>
  </table>


    <div *ngIf="MealsList.length!=0||dayMed!=undefined" style="display: flex; justify-content: center; align-items: center;">
      <table class="table table-striped " style="width: 100%">
        <thead>
            <tr>
              <th style="text-align: center;"></th>
              <th style="text-align: center;">Phe (mg)</th>
              <th style="text-align: center;">Calories (kcal)</th>
              <th style="text-align: center;">Weight (g)</th>
              <th  style="text-align: center;">Protein (g)</th>
              <th  style="text-align: center;">Fat (g)</th>
              <th  style="text-align: center;">Carb (g)</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center;"><h5>Summary</h5></td>
            <td style="text-align: center;"><h5>{{daySummary?.Product.Phe/100}}</h5></td>
            <td style="text-align: center;"><h5>{{daySummary?.Product.Calories/100}}</h5></td>
            <td style="text-align: center;"><h5>{{daySummary?.Weight/100}}</h5></td>
            <td style="text-align: center;"><h5>{{daySummary?.Product.Protein/100}}</h5></td>
            <td style="text-align: center;"><h5>{{daySummary?.Product.Fat/100}}</h5></td>
            <td style="text-align: center;"><h5>{{daySummary?.Product.Carb/100}}</h5></td>
            </tr>
        </tbody>
    </table>
    </div>

  </div>

  <div style="width: 60%; padding: 3%; padding-top: 0%; padding-right: 0%;">

    <div style="text-align: center; background-color: #212529; color: #38b0ff;" >
     <h1> Daily Summary </h1>
    </div>
    <div>

      <br>

    <table style="margin-left: auto; margin-right: auto;">
      <tr>
        <td *ngIf="Limits?.PheLimit!=0">
          <ngx-charts-pie-grid
          [view]="[300, 300]"
          [scheme]="colorScheme.colorPhe"
          [results]="daySummaryCharts?.Phe"
          [designatedTotal]="Limits?.PheLimit/100"
          label='Total Phe (mg)'>
          <ng-template #tooltipTemplate let-model="model">
           <b style="font-size: 18px;">{{ model.value }} / {{Limits?.PheLimit/100}} (mg)</b>
          </ng-template>
        </ngx-charts-pie-grid>
        </td>

        <td *ngIf="Limits?.PheLimit==0">
          <div style="position: relative;" *ngIf="daySummary?.Product.Phe==0">
            <div style="position: absolute; top: 120px; left: 105px;">
            <div style="height: 80px; width: 80px; background-color: white;">
              <div style="text-align: center;">
              {{daySummary?.Product.Phe/100}} (mg)
              <br>
              <p style="font-size: small;">Phe</p>
              </div>
            </div>
            </div>
            <div>
            <ngx-charts-pie-grid
            [view]="[300, 300]"
            [scheme]="colorScheme.colorPhe"
            [results]="daySummaryCharts?.Phe"
            [designatedTotal]="1"
            [animations]="false"
            label='Total Phe (mg)'>
            <ng-template #tooltipTemplate let-model="model">
            <b style="font-size: 18px;">{{ model.value }} (mg)</b>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
        </div>

          <div style="position: relative;" *ngIf="daySummary?.Product.Phe!=0">
            <div style="position: absolute; top: 120px; left: 105px;">
            <div style="height: 80px; width: 80px; background-color: white;">
              <div style="text-align: center;">
              {{daySummary?.Product.Phe/100}} (mg)
              <br>
              <p style="font-size: small;">Phe</p>
              </div>
            </div>
            </div>
            <div>
            <ngx-charts-pie-grid
            [view]="[300, 300]"
            [scheme]="colorScheme.colorPhe"
            [results]="daySummaryCharts?.Phe"
            [designatedTotal]="Limits?.PheLimit/100"
            [animations]="false"
            label='Total Phe (mg)'>
            <ng-template #tooltipTemplate let-model="model">
            <b style="font-size: 18px;">{{ model.value }} (mg)</b>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
        </div>
        </td>

        <td *ngIf="Limits?.CaloriesLimit!=0">
          <ngx-charts-pie-grid
          [view]="[300, 300]"
          [scheme]="colorScheme.colorCalories"
          [results]="daySummaryCharts?.Calories"
          [designatedTotal]="Limits?.CaloriesLimit/100"
          label='Total Calories (kcal)'>
          <ng-template #tooltipTemplate let-model="model">
           <b style="font-size: 18px;">{{ model.value }} / {{Limits?.CaloriesLimit/100}} (kcal)</b>
          </ng-template>
        </ngx-charts-pie-grid>
        </td>

        <td *ngIf="Limits?.CaloriesLimit==0">
          <div style="position: relative;" *ngIf="daySummary?.Product.Calories==0">
            <div style="position: absolute; top: 120px; left: 105px;">
              <div style="height: 80px; width: 80px; background-color: white;">
                <div style="text-align: center;">
                  {{daySummary?.Product.Calories/100}} (kcal)
                  <br>
                  <p style="font-size: small;">Calories</p>
                  </div>
              </div>
              </div>
            <div>
            <ngx-charts-pie-grid
            [view]="[300, 300]"
            [scheme]="colorScheme.colorCalories"
            [results]="daySummaryCharts?.Calories"
            [designatedTotal]="1"
            [animations]="false"
            label='Total Calories (kcal)'>
            <ng-template #tooltipTemplate let-model="model">
            <b style="font-size: 18px;">{{ model.value }} (kcal)</b>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
        </div>

          <div style="position: relative;" *ngIf="daySummary?.Product.Calories!=0">
            <div style="position: absolute; top: 120px; left: 105px;">
              <div style="height: 80px; width: 80px; background-color: white;">
                <div style="text-align: center;">
                  {{daySummary?.Product.Calories/100}} (kcal)
                  <br>
                  <p style="font-size: small;">Calories</p>
                  </div>
              </div>
              </div>
            <div>
            <ngx-charts-pie-grid
            [view]="[300, 300]"
            [scheme]="colorScheme.colorCalories"
            [results]="daySummaryCharts?.Calories"
            [designatedTotal]="Limits?.CaloriesLimit/100"
            [animations]="false"
            label='Total Calories (kcal)'>
            <ng-template #tooltipTemplate let-model="model">
            <b style="font-size: 18px;">{{ model.value }} (kcal)</b>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
        </div>
        </td>

      </tr>
    </table>

    <br>
    <br>

    <table style="  margin-left: auto; margin-right: auto;">
      <tr>
        <td *ngIf="Limits?.ProteinLimit!=0">
          <ngx-charts-pie-grid
          [view]="[275, 275]"
          [scheme]="colorScheme.colorProtein"
          [results]="daySummaryCharts?.Protein"
          [designatedTotal]="Limits?.ProteinLimit/100"
          label='Total Protein (g)'>
          <ng-template #tooltipTemplate let-model="model">
           <b style="font-size: 18px;">{{ model.value }} / {{Limits?.ProteinLimit/100}} (g)</b>
          </ng-template>
        </ngx-charts-pie-grid>
        </td>

        <td *ngIf="Limits?.ProteinLimit==0">
          <div style="position: relative;" *ngIf="daySummary?.Product.Protein==0">
            <div style="position: absolute; top: 105px; left: 92px;">
            <div style="height: 80px; width: 80px; background-color: white;">
              <div style="text-align: center;">
              {{daySummary?.Product.Protein/100}} (g)
              <br>
              <p style="font-size: small;">Protein</p>
              </div>
            </div>
            </div>
            <div>
            <ngx-charts-pie-grid
            [view]="[275, 275]"
            [scheme]="colorScheme.colorProtein"
            [results]="daySummaryCharts?.Protein"
            [designatedTotal]="1"
            [animations]="false"
            label='Total Protein (g)'>
            <ng-template #tooltipTemplate let-model="model">
            <b style="font-size: 18px;">{{ model.value }} (g)</b>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
        </div>

          <div style="position: relative;" *ngIf="daySummary?.Product.Protein!=0">
            <div style="position: absolute; top: 105px; left: 92px;">
            <div style="height: 80px; width: 80px; background-color: white;">
              <div style="text-align: center;">
              {{daySummary?.Product.Protein/100}} (g)
              <br>
              <p style="font-size: small;">Protein</p>
              </div>
            </div>
            </div>
            <div>
            <ngx-charts-pie-grid
            [view]="[275, 275]"
            [scheme]="colorScheme.colorProtein"
            [results]="daySummaryCharts?.Protein"
            [designatedTotal]="Limits?.ProteinLimit/100"
            [animations]="false"
            label='Total Protein (g)'>
            <ng-template #tooltipTemplate let-model="model">
            <b style="font-size: 18px;">{{ model.value }} (g)</b>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
        </div>
        </td>

        <td *ngIf="Limits?.FatLimit!=0">
          <ngx-charts-pie-grid
          [view]="[275, 275]"
          [scheme]="colorScheme.colorFat"
          [results]="daySummaryCharts?.Fat"
          [designatedTotal]="Limits?.FatLimit/100"
          label='Total Fat (g)'>
          <ng-template #tooltipTemplate let-model="model">
           <b style="font-size: 18px;">{{ model.value }} / {{Limits?.FatLimit/100}} (g)</b>
          </ng-template>
        </ngx-charts-pie-grid>
        </td>

        <td *ngIf="Limits?.FatLimit==0">
          <div style="position: relative;" *ngIf="daySummary?.Product.Fat==0">
            <div style="position: absolute; top: 105px; left: 92px;">
            <div style="height: 80px; width: 80px; background-color: white;">
              <div style="text-align: center;">
              {{daySummary?.Product.Fat/100}} (g)
              <br>
              <p style="font-size: small;">Fat</p>
              </div>
            </div>
            </div>
            <div>
            <ngx-charts-pie-grid
            [view]="[275, 275]"
            [scheme]="colorScheme.colorFat"
            [results]="daySummaryCharts?.Fat"
            [designatedTotal]="1"
            [animations]="false"
            label='Total Fat (g)'>
            <ng-template #tooltipTemplate let-model="model">
            <b style="font-size: 18px;">{{ model.value }} (g)</b>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
        </div>

          <div style="position: relative;" *ngIf="daySummary?.Product.Fat!=0">
            <div style="position: absolute; top: 105px; left: 92px;">
            <div style="height: 80px; width: 80px; background-color: white;">
              <div style="text-align: center;">
              {{daySummary?.Product.Fat/100}} (g)
              <br>
              <p style="font-size: small;">Fat</p>
              </div>
            </div>
            </div>
            <div>
            <ngx-charts-pie-grid
            [view]="[275, 275]"
            [scheme]="colorScheme.colorFat"
            [results]="daySummaryCharts?.Fat"
            [designatedTotal]="Limits?.FatLimit/100"
            [animations]="false"
            label='Total Fat (g)'>
            <ng-template #tooltipTemplate let-model="model">
            <b style="font-size: 18px;">{{ model.value }} (g)</b>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
        </div>
        </td>

        <td *ngIf="Limits?.CarbLimit!=0">
          <ngx-charts-pie-grid
          [view]="[275, 275]"
          [scheme]="colorScheme.colorCarb"
          [results]="daySummaryCharts?.Carb"
          [designatedTotal]="Limits?.CarbLimit/100"
          label='Total Carb (g)'>
          <ng-template #tooltipTemplate let-model="model">
           <b style="font-size: 18px;">{{ model.value }} / {{Limits?.CarbLimit/100}} (g)</b>
          </ng-template>
        </ngx-charts-pie-grid>
        </td>

        <td *ngIf="Limits?.CarbLimit==0">
          <div style="position: relative;" *ngIf="daySummary?.Product.Carb==0">
            <div style="position: absolute; top: 105px; left: 92px;">
            <div style="height: 80px; width: 80px; background-color: white;">
              <div style="text-align: center;">
              {{daySummary?.Product.Carb/100}} (g)
              <br>
              <p style="font-size: small;">Carb</p>
              </div>
            </div>
            </div>
            <div>
            <ngx-charts-pie-grid
            [view]="[275, 275]"
            [scheme]="colorScheme.colorCarb"
            [results]="daySummaryCharts?.Carb"
            [designatedTotal]="1"
            [animations]="false"
            label='Total Carb (g)'>
            <ng-template #tooltipTemplate let-model="model">
            <b style="font-size: 18px;">{{ model.value }} (g)</b>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
        </div>

          <div style="position: relative;" *ngIf="daySummary?.Product.Carb!=0">
            <div style="position: absolute; top: 105px; left: 92px;">
            <div style="height: 80px; width: 80px; background-color: white;">
              <div style="text-align: center;">
              {{daySummary?.Product.Carb/100}} (g)
              <br>
              <p style="font-size: small;">Carb</p>
              </div>
            </div>
            </div>
            <div>
            <ngx-charts-pie-grid
            [view]="[275, 275]"
            [scheme]="colorScheme.colorCarb"
            [results]="daySummaryCharts?.Carb"
            [designatedTotal]="Limits?.CarbLimit/100"
            [animations]="false"
            label='Total Carb (g)'>
            <ng-template #tooltipTemplate let-model="model">
            <b style="font-size: 18px;">{{ model.value }} (g)</b>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>
        </div>
        </td>

      </tr>
    </table>

    </div>
  </div>


  <button #alertbutton type="button" class="btn btn-primary" hidden="true"
                    (click)="dailyAlertsClick()"
                    data-toggle="modal" data-target="#exampleModal"
                    data-backdrop="static" data-keyboard="false">
                    </button>
