<div class="panel panel-primary">
    <div class="panel-body">

<div class="modal fade bg-dark" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button #mybutton type="button" class="close" 
        data-dismiss="modal" aria-label="Close"
        (click)="closeClick()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-notloged-details-product [product]="product" *ngIf="ActivateDetailsProductComp">
          </app-notloged-details-product>
      </div>
    </div>
  </div>
</div>

<div style="text-align: center; background-color: #212529; color: #38b0ff;" >
  <h1> Products List</h1>
 </div>
 
      <div style="align-content: center;">
        <button *ngIf="categoryFruits" (click)="categoryResult('Fruits')" style="width:10%; margin-left: 1%;" type="button" class="btn btn-primary">Fruits</button>
        <button *ngIf="!categoryFruits" (click)="categoryResult('Fruits')" style="width:10%; margin-left: 1%;" type="button" class="btn btn-light">Fruits</button>
        <button *ngIf="categoryVegetables" (click)="categoryResult('Vegetables')" style="width:10%;" type="button" class="btn btn-primary">Vegetables</button>
        <button *ngIf="!categoryVegetables" (click)="categoryResult('Vegetables')" style="width:10%;" type="button" class="btn btn-light">Vegetables</button>
        <button *ngIf="categoryDairy" (click)="categoryResult('Dairy')" style="width:10%;" type="button" class="btn btn-primary">Dairy</button>
        <button *ngIf="!categoryDairy" (click)="categoryResult('Dairy')" style="width:10%;" type="button" class="btn btn-light">Dairy</button>
        <button *ngIf="categoryGrains" (click)="categoryResult('Grains')" style="width:10%;" type="button" class="btn btn-primary">Grains</button>
        <button *ngIf="!categoryGrains" (click)="categoryResult('Grains')" style="width:10%;" type="button" class="btn btn-light">Grains</button>
        <button *ngIf="categoryProteinFoods" (click)="categoryResult('ProteinFoods')" style="width:10%;" type="button" class="btn btn-primary">Protein Foods</button>
        <button *ngIf="!categoryProteinFoods" (click)="categoryResult('ProteinFoods')" style="width:10%;" type="button" class="btn btn-light">Protein Foods</button>
        <button *ngIf="categoryDrinks" (click)="categoryResult('Drinks')" style="width:10%;" type="button" class="btn btn-primary">Drinks</button>
        <button *ngIf="!categoryDrinks" (click)="categoryResult('Drinks')" style="width:10%;" type="button" class="btn btn-light">Drinks</button>
        <button *ngIf="categorySnacks" (click)="categoryResult('Snacks')" style="width:10%;" type="button" class="btn btn-primary">Snacks</button>
        <button *ngIf="!categorySnacks" (click)="categoryResult('Snacks')" style="width:10%;" type="button" class="btn btn-light">Snacks</button>
        <button *ngIf="categoryDishes" (click)="categoryResult('Dishes')" style="width:10%;" type="button" class="btn btn-primary">Dishes</button>
        <button *ngIf="!categoryDishes" (click)="categoryResult('Dishes')" style="width:10%;" type="button" class="btn btn-light">Dishes</button>
        <button *ngIf="categoryOther" (click)="categoryResult('Other')" style="width:10%;" type="button" class="btn btn-primary">Other</button>
        <button *ngIf="!categoryOther" (click)="categoryResult('Other')" style="width:10%;" type="button" class="btn btn-light">Other</button>
      </div>
    <div style="margin-top:10px; margin-left: 1%; align-content: center;" >
      <div style="width: 40%; margin: 0 auto;" class="d-flex flex-row" >
        <input [(ngModel)]="productSearch" class="form-control" placeholder="Search" (keyup.enter)="searchProduct()">
        <button (click)="searchProduct()" type="button" class="btn btn-primary" style="margin-left: 1rem;">Search</button>
        <button (click)="clearSearch()" type="button" class="btn btn-secondary" [disabled]="!productSearch">Clear</button>
      </div>
    </div>
<table class="table table-striped">
  <thead>
      <tr>
          <th (click)="sortResult('Name')" style="cursor: pointer; text-align: center;">Name</th>
          <th (click)="sortResult('Category')" style="cursor: pointer; text-align: center;">Category</th>
          <th (click)="sortResult('Phe')" style="cursor: pointer; text-align: center;">Phe (mg/100g)</th>
          <th (click)="sortResult('Calories')" style="cursor: pointer; text-align: center;">Calories (kcal/100g)</th>
          <th (click)="sortResult('Protein')" style="cursor: pointer; text-align: center;">Protein (g/100g)</th>
          <th (click)="sortResult('Fat')" style="cursor: pointer; text-align: center;">Fat (g/100g)</th>
          <th (click)="sortResult('Carb')" style="cursor: pointer; text-align: center;">Carb (g/100g)</th>
          <th style="text-align: center;">Options</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let dataItem of ProductsList | paginate : {
        itemsPerPage:pageSize,
        currentPage: page,
        totalItems: count
      };
      let i = index"
        [class.active]="i==page">
          <td style="text-align: center;">{{dataItem.Name}}</td>
          <td style="text-align: center;">{{dataItem.Category}}</td>
          <td style="text-align: center;">{{dataItem.Phe/100}}</td>
          <td style="text-align: center;">{{dataItem.Calories/100}}</td>
          <td style="text-align: center;">{{dataItem.Protein/100}}</td>
          <td style="text-align: center;">{{dataItem.Fat/100}}</td>
          <td style="text-align: center;">{{dataItem.Carb/100}}</td>
          <td style="display: flex; justify-content: center; align-items: center;">
            <button type="button" class="btn btn-info"
              (click)="detailsClick(dataItem)"
              data-toggle="modal" data-target="#exampleModal"
              data-backdrop="static" data-keyboard="false"
              >Details
              </button>
          </td>
      </tr>
  </tbody>
</table>

<div *ngIf="count==0" style="text-align: center; padding-left: 20px;"><h5><b>No Results</b></h5><br><br></div>

<div class="d-flex justify-content-center">
    <pagination-controls 
    [responsive]="true"
      previousLabel="Prev" 
      nextLabel="Next" 
  (pageChange)="onPageChange($event)">
  </pagination-controls>
  </div>

</div>
</div>