<div class="d-flex flex-row bd-highlight mb-2">
    <div class="form-group row" style="width: 100%">
    <div class="form-group row">
        <label  class="col-form-label col-sm-4"></label>
        <label for="Name" class="col-form-label col-sm-3">Name: </label>
        <div class="col-sm-5">{{Name}}</div>
    </div>
    <div class="form-group row">
        <label  class="col-form-label col-sm-4"></label>
        <label for="Name" class="col-form-label col-sm-3">Phe (mg/100g): </label>
        <div class="col-sm-5">{{Phe/100}}</div>
    </div>
    <div class="form-group row">
        <label  class="col-form-label col-sm-4"></label>
        <label for="Name" class="col-form-label col-sm-3">Calories (kcal/100g): </label>
        <div class="col-sm-5">{{Calories/100}}</div>
    </div>
    <div class="form-group row">
        <label  class="col-form-label col-sm-4"></label>
        <label for="Name" class="col-form-label col-sm-3">Protein (g/100g): </label>
        <div class="col-sm-5">{{Protein/100}}</div>
    </div>
    <div class="form-group row">
        <label  class="col-form-label col-sm-4"></label>
        <label for="Name" class="col-form-label col-sm-3">Fat (g/100g): </label>
        <div class="col-sm-5">{{Fat/100}}</div>
    </div>
    <div class="form-group row">
        <label  class="col-form-label col-sm-4"></label>
        <label for="Name" class="col-form-label col-sm-3">Carb (g/100g): </label>
        <div class="col-sm-5">{{Carb/100}}</div>
    </div>
    <br>
    <br>
    <br>
    <div class="form-group row">
        <label  class="col-form-label col-sm-5"></label>
    <button type="button" class="btn btn-secondary col-sm-1" (click)='Close()'>Close</button>
    </div>
</div>
</div>