<div class="wrapper" *ngIf='!isUserAuthenticated;else Admin_User'>
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>PKU-App</h3>
      </div>

      <ul class="list-unstyled components">
          <li >
              <a [routerLink]="['/home']" routerLinkActive="active"  
                [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"[routerLink]="['/products']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}">Products</a>
          </li>
      </ul>
  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark h5" style="margin-bottom:20px; padding:0px; padding-left:20px;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >
          </ul>
          <div *ngIf='Name!=null' style="color: white;">Hello <b>{{Name}}</b>!</div>
      </div>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto" *ngIf='!isUserAuthenticated'>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/authentication/register']" routerLinkActive="active" style="padding-right: 20px; padding-left: 20px;"
                [routerLinkActiveOptions]="{exact: true}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/authentication/login']" routerLinkActive="active" style="padding-right: 20px; padding-left: 20px;"
                [routerLinkActiveOptions]="{exact: true}">Login</a>
            </li>
          </ul>
          <ul *ngIf='isUserAuthenticated' class="navbar-nav mt-2 mt-lg-0 ms-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/authentication/login']" style="padding-right: 20px; padding-left: 20px;"
               (click)="logout()">Logout</a>
            </li>
          </ul>
      </div>
  </nav>
  <div style="margin-left:30px; margin-right:30px">
 
          <router-outlet></router-outlet>

  </div>
  </div>
</div>






<ng-template #Admin_User>
<div class="wrapper" *ngIf='isAdmin;else User'>
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>PKU-App</h3>
      </div>

      <ul class="list-unstyled components">
          <li >
              <a [routerLink]="['/home']" routerLinkActive="active"  
                [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"[routerLink]="['/admin-products']" routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}">Product Managment</a>
          </li>
      </ul>
  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark h5" style="margin-bottom:20px; padding:0px; padding-left:20px;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >
          </ul>
          <div *ngIf='Name!=null' style="color: white;">Hello <b>{{Name}}</b>!</div>
      </div>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto" *ngIf='!isUserAuthenticated'>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/authentication/register']" routerLinkActive="active" style="padding-right: 20px; padding-left: 20px;"
                [routerLinkActiveOptions]="{exact: true}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/authentication/login']" routerLinkActive="active" style="padding-right: 20px; padding-left: 20px;"
                [routerLinkActiveOptions]="{exact: true}">Login</a>
            </li>
          </ul>
          <ul *ngIf='isUserAuthenticated' class="navbar-nav mt-2 mt-lg-0 ms-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/authentication/login']" style="padding-right: 20px; padding-left: 20px;"
               (click)="logout()">Logout</a>
            </li>
          </ul>
      </div>
  </nav>
  <div style="margin-left:30px; margin-right:30px">
 
          <router-outlet></router-outlet>

  </div>
  </div>
</div>




<ng-template #User>
<div class="wrapper">
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>PKU-App</h3>
      </div>

      <ul class="list-unstyled components">
          <li >
              <a [routerLink]="['/home']" routerLinkActive="active"  
                [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li >
            <a [routerLink]="['/user-plan']" routerLinkActive="active"  
              [routerLinkActiveOptions]="{exact: true}">Plan</a>
          </li>
          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                    <a class="nav-link"[routerLink]="['/user-products']" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}">Products List</a>
                  </li>
                  <li>
                    <a class="nav-link"[routerLink]="['/own-products']" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}">Your Products</a>
                  </li>
                  <li>
                    <a class="nav-link"[routerLink]="['/fav-products']" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}">Favourite Products</a>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark h5" style="margin-bottom:20px; padding:0px; padding-left:20px;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >
          </ul>
          <div *ngIf='Name!=null' style="color: white;">Hello <b>{{Name}}</b>!</div>
      </div>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto" *ngIf='!isUserAuthenticated'>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/authentication/register']" routerLinkActive="active" style="padding-right: 20px; padding-left: 20px;"
                [routerLinkActiveOptions]="{exact: true}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"[routerLink]="['/authentication/login']" routerLinkActive="active" style="padding-right: 20px; padding-left: 20px;"
                [routerLinkActiveOptions]="{exact: true}">Login</a>
            </li>
          </ul>
          <ul *ngIf='isUserAuthenticated' class="navbar-nav mt-2 mt-lg-0 ms-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/authentication/login']" style="padding-right: 20px; padding-left: 20px;"
               (click)="logout()">Logout</a>
            </li>
          </ul>
      </div>
  </nav>
  <div style="margin-left:30px; margin-right:30px">
 
          <router-outlet></router-outlet>

  </div>
  </div>
</div>
</ng-template>




</ng-template>