<div style="display: flex; justify-content: center;">
    <div class="modal fade bg-dark" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
            <button #mybutton type="button" class="close" 
            data-dismiss="modal" aria-label="Close"
            (click)="closeClick()" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-user-exercise-plan-details-exercise [exercise]="exercise"  *ngIf="ActivateDetailsExerciseComp">
            </app-user-exercise-plan-details-exercise>
            <app-user-exercise-plan-add-edit-exercise [exercise]="exercise" [date]="date" [time]="time" [userId]="userId" [userExerciseId]="userExerciseId" *ngIf="ActivateAddEditExerciseComp">
            </app-user-exercise-plan-add-edit-exercise>
            <app-user-exercise-plan-details-on-exercise [exercise]="exercise" [time]="time"  *ngIf="ActivateDetailsExerciseOnPlanComp">
            </app-user-exercise-plan-details-on-exercise>
            <app-user-exercise-plan-delete-exercise [exercise]="exercise" [date]="date"  *ngIf="ActivateDeleteExerciseComp">
            </app-user-exercise-plan-delete-exercise>
          </div>
        </div>
      </div>
    </div>
 
 
    <div style="width: 40%;">
      
    <div style="display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center; background-color: #212529; color: #38b0ff; width: 100%" >
      <h1 style="margin-bottom: 0%;"> Exercise Plan </h1>
     </div>
    </div>
  <div style="display: flex; justify-content: center; align-items: center;">
      <button type="button" (click)="dateClick(-1)" class="btn btn-dark" style="margin: 5px;">Prev</button>
      <div *ngIf="isToday" style="background-color: gold; padding: 0.5%;">
        <input required id="date" type="date" #myDate (ngModelChange)="dateChangeinput($event)" [ngModel]="date| date:'yyyy-MM-dd'"/>
      </div>
      <div div *ngIf="!isToday" style="padding: 0.5%;">
        <input required id="date" type="date" #myDate (ngModelChange)="dateChangeinput($event)" [ngModel]="date| date:'yyyy-MM-dd'" value="formatedDate"/>
      </div>
      <button type="button" (click)="dateClick(1)" class="btn btn-dark" style="margin: 5px;">Next</button>
  </div>
   

     
     <table class="table table-striped" *ngIf="currDate.getTime()<=date.getTime()||isToday">
       <thead>
           <tr>
             <th style="text-align: center;">Name</th>
             <th style="text-align: center;">Calories (kcal)</th>
             <th style="text-align: center;">Time (min)</th>
             <th style="text-align: center;">Options</th>
           </tr>
       </thead>
       <tbody>
         <tr *ngFor="let dataItem of ExercisesInDayList | paginate : { id: 'pag2',
           itemsPerPage:pageSizeInDay,
           currentPage: pageInDay,
           totalItems: countInDay
         };
         let i = index"
           [class.active]="i==pageInDay">
               <td style="text-align: center;">{{dataItem?.Exercise.Name}}</td>
               <td style="text-align: center;">{{dataItem?.Exercise.Calories/100*dataItem?.Time/100/60 | number:'1.2-2'}}</td>
               <td style="text-align: center;">{{dataItem?.Time/100}}</td>
               <td style="display: flex; justify-content: center; align-items: center;">
                 <button type="button" class="btn btn-info"
                   (click)="detailsInDayClick(dataItem)"
                   data-toggle="modal" data-target="#exampleModal"
                   data-backdrop="static" data-keyboard="false"
                   >Details
                   </button>
                   <button *ngIf="!dataItem.param" type="button" class="btn btn-warning" 
                   (click)="editInDayClick(dataItem)" data-toggle="modal" data-target="#exampleModal"
                   data-backdrop="static" data-keyboard="false"
                   >Edit
                   </button>
                   <button *ngIf="!dataItem.param" type="button" class="btn btn-danger" 
                   (click)="deleteInDayClick(dataItem)" data-toggle="modal" data-target="#exampleModal"
                   data-backdrop="static" data-keyboard="false"
                   >Delete
                   </button>
               </td>
           </tr>
       </tbody>
     </table>



     <table class="table table-striped" *ngIf="currDate.getTime()>date.getTime()&&!isToday">
      <thead>
          <tr>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Calories (kcal)</th>
            <th style="text-align: center;">Time (min)</th>
            <th style="text-align: center;">Options</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of ExercisesInDayList | paginate : { id: 'pag2',
          itemsPerPage:pageSizeInDay,
          currentPage: pageInDay,
          totalItems: countInDay
        };
        let i = index"
          [class.active]="i==pageInDay">
              <td style="text-align: center;">{{dataItem?.Exercise.Name}}</td>
              <td style="text-align: center;">{{dataItem?.Exercise.Calories/100*dataItem?.Time/100/60 | number:'1.2-2'}}</td>
              <td style="text-align: center;">{{dataItem?.Time/100}}</td>
              <td style="display: flex; justify-content: center; align-items: center;">
                <button type="button" class="btn btn-info"
                  (click)="detailsInDayClick(dataItem)"
                  data-toggle="modal" data-target="#exampleModal"
                  data-backdrop="static" data-keyboard="false"
                  >Details
                  </button>
              </td>
          </tr>
      </tbody>
    </table>

     
     <div *ngIf="count==0" style="text-align: center; padding-left: 20px;"><h5><b>No Results</b></h5><br><br></div>
     
     <div class="d-flex justify-content-center">
     <pagination-controls 
     id="pag2"
     [responsive]="true"
       previousLabel="Prev" 
       nextLabel="Next" 
     (pageChange)="onPageChange2($event)">
     </pagination-controls>
     </div>
      
      <div *ngIf="ExercisesInDayList.length!=0" style="display: flex; justify-content: center; align-items: center;">
        <table class="table table-striped " style="width: 100%">
          <thead>
              <tr>
                <th style="text-align: center;"></th>
                <th style="text-align: center;">Calories (kcal)</th>
                <th style="text-align: center;">Time (min)</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;"><h5>Summary</h5></td>
              <td style="text-align: center;"><h5>{{daySummary?.Calories/100| number:'1.2-2'}}</h5></td>
              <td style="text-align: center;"><h5>{{daySummary?.Time/100}}</h5></td>
              </tr>
          </tbody>
      </table>
      </div>
 
  <div style="display: flex; justify-content: center; align-items: center;" *ngIf="currDate.getTime()>date.getTime()&&!isToday">
    <br>
</div>
 
  
 
</div>
 
<div style="width: 60%; padding: 3%; padding-top: 0%; padding-right: 0%;" *ngIf="currDate.getTime()<=date.getTime()||isToday">
 
  <div style="text-align: center; background-color: #212529; color: #38b0ff;" >
   <h1> Exercises List </h1>
    </div>

   <div style="margin-top:10px; margin-left: 1%; align-content: center;" >
    <div style="width: 60%; margin: 0 auto;" class="d-flex flex-row" >
      <input [(ngModel)]="exerciseSearch" class="form-control" placeholder="Search" (keyup.enter)="searchExercise()">
      <button (click)="searchExercise()" type="button" class="btn btn-primary" style="margin-left: 1rem;">Search</button>
      <button (click)="clearSearch()" type="button" class="btn btn-secondary" [disabled]="!exerciseSearch">Clear</button>
    </div>
  </div>
  
  <table class="table table-striped">
    <thead>
        <tr>
          <th (click)="sortResult('Name')" style="cursor: pointer; text-align: center;">Name</th>
          <th (click)="sortResult('Calories')" style="cursor: pointer; text-align: center;">Calories (kcal/h)</th>
          <th style="text-align: center;">Options</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of ExercisesList | paginate : {
        itemsPerPage:pageSize,
        currentPage: page,
        totalItems: count
      };
      let i = index"
        [class.active]="i==page">
            <td style="text-align: center;">{{dataItem?.Exercise.Name}}</td>
            <td style="text-align: center;">{{dataItem?.Exercise.Calories/100}}</td>
            <td style="display: flex; justify-content: center; align-items: center;">
              <button type="button" class="btn btn-info"
                (click)="detailsClick(dataItem)"
                data-toggle="modal" data-target="#exampleModal"
                data-backdrop="static" data-keyboard="false"
                >Details
                </button>
                <button *ngIf="!dataItem.param" type="button" class="btn btn-success" 
                (click)="addClick(dataItem)" data-toggle="modal" data-target="#exampleModal"
                data-backdrop="static" data-keyboard="false"
                >Add
                </button>
            </td>
        </tr>
    </tbody>
  </table>
  
  <div *ngIf="count==0" style="text-align: center; padding-left: 20px;"><h5><b>No Results</b></h5><br><br></div>
  
  <div class="d-flex justify-content-center">
  <pagination-controls 
  [responsive]="true"
    previousLabel="Prev" 
    nextLabel="Next" 
  (pageChange)="onPageChange($event)">
  </pagination-controls>
  </div>

</div>
 
 
<div style="width: 60%; padding: 3%; padding-top: 0%; padding-right: 0%;" *ngIf="currDate.getTime()>date.getTime()&&!isToday">
 
 
  <div style="text-align: center; background-color: #212529; color: #38b0ff;" >
    <h1> Exercise List </h1>
     </div>
 
    <div style="margin-top:10px; margin-left: 1%; align-content: center;" >
     <div style="width: 60%; margin: 0 auto;" class="d-flex flex-row" >
       <input [(ngModel)]="exerciseSearch" class="form-control" placeholder="Search" (keyup.enter)="searchExercise()">
       <button (click)="searchExercise()" type="button" class="btn btn-primary" style="margin-left: 1rem;">Search</button>
       <button (click)="clearSearch()" type="button" class="btn btn-secondary" [disabled]="!exerciseSearch">Clear</button>
     </div>
   </div>
   
   <table class="table table-striped">
     <thead>
         <tr>
           <th (click)="sortResult('Name')" style="cursor: pointer; text-align: center;">Name</th>
           <th (click)="sortResult('Calories')" style="cursor: pointer; text-align: center;">Calories (kcal/h)</th>
           <th style="text-align: center;">Options</th>
         </tr>
     </thead>
     <tbody>
       <tr *ngFor="let dataItem of ExercisesList | paginate : {
         itemsPerPage:pageSize,
         currentPage: page,
         totalItems: count
       };
       let i = index"
         [class.active]="i==page">
             <td style="text-align: center;">{{dataItem?.Exercise.Name}}</td>
             <td style="text-align: center;">{{dataItem?.Exercise.Calories/100}}</td>
             <td style="display: flex; justify-content: center; align-items: center;">
               <button type="button" class="btn btn-info"
                 (click)="detailsClick(dataItem)"
                 data-toggle="modal" data-target="#exampleModal"
                 data-backdrop="static" data-keyboard="false"
                 >Details
                 </button>
             </td>
         </tr>
     </tbody>
   </table>
   
   <div *ngIf="count==0" style="text-align: center; padding-left: 20px;"><h5><b>No Results</b></h5><br><br></div>
   
   <div class="d-flex justify-content-center">
   <pagination-controls 
   [responsive]="true"
     previousLabel="Prev" 
     nextLabel="Next" 
   (pageChange)="onPageChange($event)">
   </pagination-controls>
   </div>
  </div>
</div>
 
 
 
 

